__AIRCRAFT RISK ANALYSIS FOR PORTFOLIO EXPANSION__

__Executive Summary__
- This project analyzes aviation accident data to identify the lowest risk aircraft models , providing actionable insights to support safe,strategic procurement decisions for the Company's new aviation division.

__Objective:__

 Analyze aviation accident data to identify Low-risk aircraft models and translate findings into actionable insights to inform the Aviation division's purchasing strategy.

__KEY POINTS__

- Which manufacturers/models have the lowest accident rates and least severe outcomes?
- Are Amateur-built aircraft riskier than professionally manufactured ones?
- How do accident patterns vary by geography or operational context(e.g Commercial vs.private?)

__Stakeholder__:
- Head of the Aviation Division -Will use findings to guide the decision on which Aircraft to purchase for the Company's Potfolio Expansion.

__Impact__:
- Helps the company minimize operational risks, protect investments and make a successful entry into the aviation market.

__Data Source__
- The dataset used in this project was provided by the National Transportation Safety Board (NTSB).It contains information from 1962 to 2023 about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters.

In [71]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [72]:
#Loading the dataset
df=pd.read_csv("AviationData.csv",nrows=100,skiprows=0)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [73]:
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                  float64
Longitude                 float64
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [74]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                100 non-null    object
 1   Investigation.Type      100 non-null    object
 2   Accident.Number         100 non-null    object
 3   Event.Date              100 non-null    object
 4   Location                100 non-null    object
 5   Country                 99 non-null     object
 6   Latitude                2 non-null      float64
 7   Longitude               2 non-null      float64
 8   Airport.Code            44 non-null     object
 9   Airport.Name            59 non-null     object
 10  Injury.Severity         100 non-null    object
 11  Aircraft.damage         99 non-null     object
 12  Aircraft.Category       89 non-null     object
 13  Registration.Number     100 non-null    object
 14  Make                    100 non-null    object
 15  Model                   100 non-null    object
 16  Amateur.Built           100 non-null    object
 17  Number.of.Engines       99 non-null     float64
 18  Engine.Type             99 non-null     object
 19  FAR.Description         89 non-null     object
 20  Schedule                16 non-null     object
 21  Purpose.of.flight       99 non-null     object
 22  Air.carrier             15 non-null     object
 23  Total.Fatal.Injuries    98 non-null     float64
 24  Total.Serious.Injuries  97 non-null     float64
 25  Total.Minor.Injuries    97 non-null     float64
 26  Total.Uninjured         99 non-null     float64
 27  Weather.Condition       100 non-null    object
 28  Broad.phase.of.flight   100 non-null    object
 29  Report.Status           100 non-null    object
 30  Publication.Date        99 non-null     object
dtypes: float64(7), object(24)
memory usage: 24.3+ KB

In [76]:
#determine missing values in the dataset(Null Values)
df.isnull()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False

In [77]:
#Missing values summed per column
df.isnull().sum()

Event.Id                   0
Investigation.Type         0
Accident.Number            0
Event.Date                 0
Location                   0
Country                    1
Latitude                  98
Longitude                 98
Airport.Code              56
Airport.Name              41
Injury.Severity            0
Aircraft.damage            1
Aircraft.Category         11
Registration.Number        0
Make                       0
Model                      0
Amateur.Built              0
Number.of.Engines          1
Engine.Type                1
FAR.Description           11
Schedule                  84
Purpose.of.flight          1
Air.carrier               85
Total.Fatal.Injuries       2
Total.Serious.Injuries     3
Total.Minor.Injuries       3
Total.Uninjured            1
Weather.Condition          0
Broad.phase.of.flight      0
Report.Status              0
Publication.Date           1
dtype: int64

In [78]:
#Determine percentage of missing values per column
(df.isnull().sum() /len(df)) *100

Event.Id                   0.0
Investigation.Type         0.0
Accident.Number            0.0
Event.Date                 0.0
Location                   0.0
Country                    1.0
Latitude                  98.0
Longitude                 98.0
Airport.Code              56.0
Airport.Name              41.0
Injury.Severity            0.0
Aircraft.damage            1.0
Aircraft.Category         11.0
Registration.Number        0.0
Make                       0.0
Model                      0.0
Amateur.Built              0.0
Number.of.Engines          1.0
Engine.Type                1.0
FAR.Description           11.0
Schedule                  84.0
Purpose.of.flight          1.0
Air.carrier               85.0
Total.Fatal.Injuries       2.0
Total.Serious.Injuries     3.0
Total.Minor.Injuries       3.0
Total.Uninjured            1.0
Weather.Condition          0.0
Broad.phase.of.flight      0.0
Report.Status              0.0
Publication.Date           1.0
dtype: float64

In [80]:
#Drop accidents with 90% of data missing
df = df.dropna(axis=1,thresh=int(.90*len(df)))
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Registration.Number,Make,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NC6404,Stinson,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,N5069P,Piper,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,N5142R,Cessna,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,N1168J,Rockwell,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,N15NY,Cessna,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20020917X01625,Accident,ANC82DA015,1982-01-15,"NEAR NUIQSUT, AK",United States,Non-Fatal,Substantial,N1459T,De Havilland,...,Turbo Prop,Unknown,0.0,0.0,0.0,4.0,VMC,Landing,Probable Cause,15-01-1983
96,20020917X02096,Accident,FTW82FA041,1982-01-16,"HOUMA, LA",United States,Fatal(1),Destroyed,N1081H,Bell Helicopter,...,Turbo Shaft,Unknown,1.0,2.0,0.0,0.0,IMC,Cruise,Probable Cause,16-01-1983
97,20020917X02487,Accident,NYC82DA023,1982-01-16,"SWANTON, VT",United States,Non-Fatal,Substantial,N704KE,Cessna,...,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Go-around,Probable Cause,16-01-1983
98,20020917X02321,Accident,LAX82FVG14,1982-01-17,"DAVIS, CA",United States,Fatal(1),Destroyed,N63182,Cessna,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,17-01-1983
99,20020917X02306,Accident,LAX82FUQ08,1982-01-17,"MOJAVE, CA",United States,Fatal(1),Destroyed,N381JH,Bede Aircraft,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,VMC,Maneuvering,Probable Cause,17-01-1983

In [87]:
#Accident rate analysis
#rank maufacturers/models by total accidents
accident_counts = df.groupby(["Make","Model"])["Event.Id"].count().reset_index(name ="Total_Accidents")
accident_counts

             Make               Model  Total_Accidents
0    Aerospatiale             SA-316B                1
1     Air Tractor              AT-301                1
2   Bede Aircraft               BD-5B                1
3           Beech                  19                1
4           Beech                  35                1
..            ...                 ...              ...
78       Rockwell                 114                1
79     Schleicher              ASW 20                1
80          Smith  WCS-222 (BELL 47G)                1
81        Stinson               108-3                1
82     Swearingen           SA 226-TC                1

[83 rows x 3 columns]